@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .header {
    word-wrap: wrap;
  }
  /* nav styles */
  #f-solid {
    color: white;
    display: block;
    font-size: 1.8rem;
  }
  .nav {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .banner {
    flex-direction: column;
    gap: 10px;
  }
  .tutorial-btn {
    max-width: 145px;
    max-height: 74px;
  }
  .workout-btn {
    max-width: 145px;
    max-height: 74px;
  }
  .button-container {
    gap: 15px;
  }
  .join-btn {
    width: 169px;
    padding: 16px 20px;
    border-radius: 42px;
  }
  .download-btn {
    width: 169px;
    padding: 16px 20px;
    border-radius: 42px;
  }
  .habit-image-container {
    flex-direction: column;
  }
  .workout-title {
    font-size: 1.875rem;
  }
  .workout-btn {
    left: 200px;
    bottom: 535px;
  }
  .tutorial-btn {
    bottom: 150px;
    right: 50px;
  }
  /* habit section styles */
  .habit-image-container {
    margin-left: 70px;
  }

  /* training section */
  .item-3,
  .item-4 {
    display: none;
  }
  .training-image-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .item-2 {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    background-repeat: no-repeat;
  }
  .item-5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .item-6 {
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  /* chart section */
  .chart-section {
    flex-direction: column;
  }
  .calculate-form-container {
    padding-left: 0px;
  }
  #element-5 {
    column-span: 2;
  }
  .calculate-form-container {
    max-width: 394px;
    min-height: 386px;
  }
  /* run section */
  .run-section {
    flex-direction: column;
  }

  .run-content {
    margin-left: 65px;
    word-wrap: wrap;
  }
  /* team section */
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 14px;
  }
  /* footer section */
  .footer {
    flex-direction: column;
  }
  .footer-2,
  .footer-3 {
    margin-top: 15px;
  }
}
