@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
    gap: 10px;
  }
  .button-container {
    flex-direction: column;
  }
}
