@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
* {
  box-sizing: border-box;
}

.none {
  display: none;
}
.display-flex {
  display: flex;
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  color: rgb(255, 255, 255);
}
body {
  background-color: black;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 65px;
}

/* header related styles */
.header {
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 65px;
  /* background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  ); */
}

/* nav styles */

.brand-name {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
}
nav {
  justify-content: space-between;
  align-items: center;
}
.fa-solid {
  color: white;
  display: none;
}
.nav-link {
  color: white;
  font-size: 1.2rem;
  padding: 4px;
}
#home {
  background-color: #e6533c;
  border-radius: 10px;
  padding: 4px 16px;
  border-radius: 39px;
  margin: 0;
}
.nav-links {
  justify-content: flex-start;
  gap: 47px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #a6a4a3;
  border-radius: 39px;
  width: 457px;
}

/* banner related styles */
.banner {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.banner-content {
  max-width: 520px;
  word-wrap: wrap;
}
.banner-title {
  color: white;
  font-size: 4.9rem;
  margin-bottom: 5px;
  line-height: 120%;
  letter-spacing: 0%;
}
#shape {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-size: 6rem;
}
.banner-description {
  word-wrap: wrap;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-bottom: 30px;
}
.banner-image-container {
}
.banner-image {
  max-width: 350px;
  height: 580px;
}
.banner-image img {
  width: 100%;
}
.button-container {
  gap: 35px;
}
.join-btn {
  font-size: 1.15rem;
  color: white;
  background-color: rgb(230, 83, 60);
  border: 0;
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
}
.download-btn {
  font-size: 1.15rem;
  color: white;
  background-color: black;
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  box-sizing: border-box;
  border: 1.5px solid white;
}
.tutorial-btn {
  justify-content: space-between;
  align-items: center;
  max-width: 206px;
  height: 96px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background-color: transparent;
  background: rgba(48, 48, 48, 0.54);
  color: #333;
  border: 1px solid rgba(48, 48, 48, 0.54);
  padding: 20px;
  position: relative;
  bottom: 150px;
  right: 100px;
}

#round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6533c;
}
.tutorial-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
#tutorial-number {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 5px;
}
#video {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
  margin-top: 2px;
}
.workout-btn {
  align-items: center;
  max-width: 193px;
  height: 96px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background-color: transparent;
  background: rgba(48, 48, 48, 0.54);
  color: #333;
  border: 1px solid rgba(48, 48, 48, 0.54);
  padding: 40px 20px 40px 20px;
  position: relative;
  left: 250px;
  bottom: 535px;
}

.workout-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.workout-title {
  font-size: 3rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 1px;
}
.workout {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
  margin-top: 2px;
}

/* habit section styles */
.habit-section {
  margin-bottom: 100px;
}
.habit-title-container {
  max-width: 671px;
  /* height: 120px; */
  margin: 10px auto;
  margin-bottom: 58px;
  flex-wrap: wrap;
}
#habit-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.habit-description {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0 22px;
}
.habit-image-container {
  max-width: 1044px;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.habit-img {
  width: 231px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habit-img > img {
  border-radius: 50%;
}
.habit-img-title {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}
.habit-img-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}

/* run section styles */
.run-section {
  background-color: rgb(34, 34, 34);
  border-radius: 30px;
  max-width: 1060px;
  min-height: 371px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 30px 15px;
}
#run-title {
  margin-bottom: 20px;
  margin-top: 10px;
}
.run-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}
.run-content {
  max-width: 443px;
  min-height: 290px;
}
.join-button {
  height: 54px;
  width: 224px;
  background-color: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 42px;
  padding: 16px 40px;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 25px;
  margin-bottom: 25px;
}
.run-img {
  max-width: 366px;
  max-height: 312px;
  border-radius: 14px;
  overflow: hidden;
}
.run-img > img {
  width: 100%;
  transform: scale(2.2);
  transform-origin: 69% 26%;
}

/* training section starts here */

.training-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}
.training-section {
  margin: 0 auto;
  border: 2px solid red;
  max-width: 1060px;
  margin-top: 100px;
}
#training-t {
  margin-bottom: 10px;
  margin-top: 10px;
}
.training-content {
  margin-bottom: 58px;
}
.training-image-container {
  height: 403px;
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.training-image-container div {
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.item-1 {
  background-image: url(../images/exercise1.jpg);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: overlay;
}
.item-2 {
  background-image: url(../images/exercise2.png);
  background-size: cover;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
  background-blend-mode: overlay;
  background-color: rgba(255, 0, 0, 0.3);
}
.item-3 {
  background-image: url(../images/exercise3.png);

  background-size: cover;
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}
.item-4 {
  background-image: url(../images/exercise4.png);

  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}
.item-5 {
  background-image: url(../images/exercise5.jpg);
  background-size: cover;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
  background-blend-mode: overlay;
  background-color: rgba(66, 255, 0, 0.3);
}
.item-6 {
  background-image: url(../images/exercise6.jpg);
  background-size: cover;
  object-fit: cover;
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
  background-blend-mode: overlay;
  background-color: rgba(0, 71, 255, 0.3);
}

/* bmi calculator section styles */
.bmi-calculator-section {
  max-width: 671px;
  height: 120px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 88px;
  text-align: center;
}
.bmi-calculator-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}
#bmi-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

/* chart section styles */
.chart-section {
  max-width: 1440px;
  min-height: 487px;
  border: 2px solid red;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.bmi-chart-container {
  max-width: 310px;
}
.chart-title {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
}
.chart-table {
  width: 100%;
  border-collapse: collapse;
}
.chart-table th {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.chart-table td,
.chart-table th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 9px 12px;
}
.chart-table td {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.calculate-form-container {
  max-width: 577px;
  min-height: 386px;
}
.calculate-form-title {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.calculate-form-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
  margin-bottom: 34px;
  word-wrap: wrap;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px;
}
form input {
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}
#element-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.calculate-btn {
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
  background-color: rgb(230, 83, 60);
  border: 0;
  width: 224px;
  padding: 16px 40px;
  border-radius: 42px;
  margin-top: 29px;
}
.our-team-section {
  min-height: 782px;
}
.team-content {
  max-width: 671px;
  min-height: 120px;
  margin: 0 auto;
  margin-top: 88px;
}
.team-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 4px;
}
.team-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
  text-align: center;
}
.team-img-container {
  max-width: 1060px;
  min-height: 604px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 65px;
}
.team-img-container .team-img {
  background-repeat: no-repeat;
  width: 326px;
  height: 272px;
  background-size: cover;
  border-radius: 10px;
}
.team-img-1 {
  background-image: url(../images/trainer1.png);
}
.team-img-2 {
  background-image: url(../images/trainer2.png);
}
.team-img-3 {
  background-image: url(../images/trainer3.png);
}
.team-img-4 {
  background-image: url(../images/trainer4.png);
}
.team-img-5 {
  background-image: url(../images/trainer5.png);
}
.team-img-6 {
  background-image: url(../images/trainer6.png);
}
.trainer-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-top: 200px;
  margin-bottom: 3px;
}
.trainer-designation {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1px;
}

/*footer section styles */

.footer {
  max-width: 1060px;
  min-height: 249px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
footer {
  max-width: 1440px;
  min-height: 489px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 60px;
  margin: 0 auto;
}
.footer-title {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
}

.footer-1 {
  max-width: 443px;
  min-height: 176px;
}
.footer-2 {
  max-width: 181px;
  min-height: 250px;
}
.footer-3 {
  max-width: 181px;
  min-height: 250px;
}

.footer-3 {
}
.footer-2-title,
.footer-3-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  line-height: 120%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.footer-description {
  word-wrap: wrap;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: left;
}
.footer-description h6 {
  word-wrap: wrap;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: left;
}
hr {
  color: rgba(255, 255, 255, 0.1);
  height: 2px;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 70px;
}
.footer-ending p {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
